---
import logo_word from "/logo_word.png";
import location from "/icons/icon-loc.svg";
import iconFb from "/icons/icon-fb.svg";
import iconLinkedin from "/icons/icon-linkedin.svg";
import iconIg from "/icons/icon-ig.svg";
import icontiktok from "/icons/icon-tiktok.svg";
import iconMail from "/icons/icon-mail.svg";
import iconPhone from "/icons/icon-phone.svg";
---

<footer
    class="min-h-60 w-full grid md:grid-cols-3 grid-cols-1 gap-10 text-white font-raleway font-light bg-dazzlingBlue-50 p-16 md:px-24 lg:px-56"
    id="contact"
>
    <div class="flex flex-col md:items-center">
        <div class="flex flex-col gap-7">
            <div class="flex flex-col justify-between h-full">
                <img
                  src={logo_word}
                  alt="SPARCS UP Min Logo"
                  class="max-w-[250px] md:max-w-full mr-14"
                />
            </div>
            <div class="flex md:items-start gap-5">
                <img src={location} alt="Location Icon" />
                <p>
                    <a href="https://maps.app.goo.gl/eMz8wgERVvcr2LTd9" target="_blank" class="hover:underline">
                        College of Science and Mathematics, University of the Philippines Mindanao, 
                        Tugbok District, Mintal, Davao City, Philippines 8000
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="flex flex-col md:items-center">
        <div class="flex flex-col gap-5">
            <h2 class="font-bold text-2xl mb-2">Socials</h2>
            <div class="flex gap-2">
                <img src={iconFb} alt="Facebook" />
                <a target="_blank" class='hover:underline' href="https://www.facebook.com/SPARCSUPMin/">/SparcsUPMin</a>
            </div>
            <div class="flex gap-2">
                <img src={iconLinkedin} alt="LinkedIn" />
                <a target="_blank" class='hover:underline' href="https://www.linkedin.com/company/sparcsup/"
                    >/sparcs_upmin</a
                >
            </div>
            <div class="flex gap-2">
                <img src={iconIg} alt="Instagram" />
                <a target="_blank" class='hover:underline' href="https://www.instagram.com/sparcs_upmin/">/sparcs_upmin</a>
            </div>
            <div class="flex gap-2">
                <img src={icontiktok} alt="TikTok" />
                <a target="_blank" class='hover:underline' href="https://www.tiktok.com/@sparcs_upmin?is_from_webapp=1&sender_device=pc">/@sparcs_upmin</a>
            </div>
        </div>
    </div>
    <div class="flex flex-col md:items-center">
        <div class="flex flex-col gap-5">
            <h2 class="font-bold text-2xl mb-2">Contact Us</h2>
            <div class="flex gap-2">
                <img src={iconMail} alt="Email" />
                <a target="_blank" class='hover:underline' href="mailto:contact@sparcsup.com">contact@sparcsup.com</a>
            </div>
            <div class="flex gap-2">
                <img src={iconMail} alt="Email" />
                <a target="_blank" class='hover:underline' href="mailto:sparcsup@gmail.com">sparcsup@gmail.com</a>
            </div>
            <div class="flex gap-2">
                <img src={iconPhone} alt="Phone" />
                <a target="_blank" class='hover:underline' href="tel:+639277697972">+63 927 769 7972</a>
            </div>
        </div>
    </div>
    <p>@ 2024 UP Mindanao SPARCS</p>
</footer>
