---
import type { TechTixEventData } from "../content/eventList/eventList";
import type { SparcsEvent } from "../models/SparcsEvent.astro";

interface Props {
  event: SparcsEvent | TechTixEventData;
}
const { event } = Astro.props;
const { title, bannerUrl, eventSource, description } = event;

const getDate = () => {
  if (eventSource === "TechTix") {
    const { startDate, endDate } = event;
    return `${startDate} ~ ${endDate}`;
  } else {
    const { date } = event;
    return date;
  }
};
---

<div
  class="w-[240px] h-[352.5px] md:w-[320px] md:h-[470px] rounded-2xl bg-[#CAD4FF] overflow-hidden"
  id="events"
>
  <div class="w-full h-4/6 overflow-hidden">
    <img
      src={bannerUrl}
      alt={title}
      class="w-full h-full rounded-t-2xl scale-100 hover:scale-125 ease-in duration-100 hover:cursor-pointer"
    />
  </div>
  <div class="p-2 md:p-3 h-2/6">
    <h1
      class="text-xl md:text-2xl mb-1 md:mb-2 line-clamp-1 font-raleway font-bold"
    >
      {title}
    </h1>
    <p class="text-sm md:text-[16px] text-gray-500 mb-3">
      {getDate()}
    </p>
    <p class="text-sm md:text-lg font-montserrat line-clamp-2">{description}</p>
  </div>
</div>
