---
const { event } = Astro.props;
const { title, pictureUrl, date, description } = event;
---

<div
  class="w-[240px] h-[352.5px] lg:w-[320px] lg:h-[470px] rounded-2xl bg-[#CAD4FF] overflow-hidden"
  id="events"
>
  <div class="w-full h-4/6 overflow-hidden">
    <img
      src={pictureUrl}
      alt={title}
      class="w-full h-full rounded-t-2xl scale-100 hover:scale-125 ease-in duration-100 hover:cursor-pointer"
    />
  </div>
  <div class="p-2 lg:p-3 h-2/6">
    <h1
      class="text-xl lg:text-2xl mb-1 lg:mb-2 line-clamp-1 font-raleway font-bold"
    >
      {title}
    </h1>
    <p class="text-sm lg:text-[16px] text-gray-500 mb-3">
      {date}
    </p>
    <p class="text-sm lg:text-lg font-montserrat line-clamp-2">{description}</p>
  </div>
</div>
